<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ED de Sistema Operacionais</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<h1>Simulador Round-Robin <small>Escalonamento Circular</small></h1>
		<table class="table">
			<theader>
				<tr>
					<th>Tempo</th>
					<th>Pronto</th>
					<th>Executando</th>
					<th>Suspenso</th>
				</tr>
			</theader>
			<tbody id="console">

			</tbody>
		</table>

	</div>

	<script id="entry-template" type="text/x-handlebars-template">
		<tr class="entry">
			<td>{{executationTime}}</td>
			<td>{{doneList}}</td>
			<td>{{executing}}</td>
			<td>{{suspended}}</td>
		</tr>
	</script>
	
	<script type="text/javascript" src="js/lib/jquery.js"></script>
	<script type="text/javascript" src="js/lib/handlebars.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="js/simulator.js"></script>
</body>
</html>